.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.img-src {
    width: 150px;
}

.nav-items{
    padding: 0 20px;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
        font-size: 24px;
   
}

.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}

.search{
    padding: 10px;
}
.restrauntContainer{
display: flex;
flex-wrap: wrap;
}

.restrauntCard{
    margin: 5px;
    padding: 5px;
    width: 260px;
    height: 480px;
    background-color: #f0f0f0;
}
.restrauntCard:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res_logo{
    width: 100%;
    height: 50%;
}

.Shimmer-container{
display: flex;
    flex-wrap: wrap;
}

.Shimmer{
    display: flex;
        flex-wrap: wrap;
    margin: 5px;
        padding: 5px;
        width: 200px;
        height: 400px;
        background-color: #f0f0f0;
        

}

.isLogin-btn{
font-size: 22px;
}